<div class="property">
  <figure>
    <%= image_tag "prop.jpg" %>
    <div class="overlay">
      <%= fa_icon("heart", class: "heart") %>
    </div>
  </figure>
  <div class="prop-description">
    <h4> <%= property.name %></h4>
    <div class="price">
      <s><%= property.price + property.price * 0.1 %></s>
      <span><%= property.price %></span>
    </div>
    <div><%= property.address %></div>
  </div>
</div>
