<div class="home-page">
  <%= render "header" %>
  <%= render 'landing_page' %>
  <%= render 'properties_list', properties: overview_prop %>
  <%= link_to 'VIEW MORE', properties_path, method: :get, class: "more-btn"%>
  <%= render 'why_us' %>
  <%= render 'contact' %>
</div>
