<div class="reasons-container">
  <h2>WHY CHOOSE US</h2>
  <div class="reasons">
    <div class="reason">
      <%= fa_icon 'building', class: 'reason-icon' %>
      <div class="fl-right">
        <p class="reason-heading">WIDE RANGE OF PROPERTIES</p>
        <p>With a robust selection of popular properties on hand, as well as leading properties from experts.</p>
      </div>
    </div>

    <div class="reason">
      <%= fa_icon 'chart-line', class: 'reason-icon' %>
      <div class="fl-right">
        <p class="reason-heading">FINANCING MADE EASY</p>
        <p>Our stress-free finance department that can find financial solutions to save you money.</p>
      </div>
    </div>

    <div class="reason">
      <%= fa_icon 'file-signature', class: 'reason-icon' %>
      <div class="fl-right">
        <p class="reason-heading">TRUSTED BY THOUSANDS</p>
        <p>10 new offers every day. 350 offers on site, trusted by a community of thousands of users.</p>
      </div>
    </div>

    <div class="reason">
      <%= fa_icon 'flag-checkered', class: 'reason-icon' %>
      <div class="fl-right">
        <p class="reason-heading">GET IMPORTANT NOTIFICATIONS</p>
        <p>Receive advices, listings, and neighborhood information</p>
      </div>
    </div>

    <div class="reason">
      <%= fa_icon 'certificate', class: 'reason-icon' %>
      <div class="fl-right">
        <p class="reason-heading">TRANSPARENCY</p>
        <p>You and your landlord always see the same info, and you will get all important information directly to your post office</p>
      </div>
    </div>

    <div class="reason">
      <%= fa_icon 'neuter', class: 'reason-icon' %>
      <div class="fl-right">
        <p class="reason-heading">NEAR BY ME</p>
        <p>Search near top-rated schools and explore neighborhoods.</p>
      </div>
    </div>
  </div>
</div>
